extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Инжиниринг и сервис"
  - const siteLang = "ru"
  - const name = "service"

block content
  include pages/service/main.pug
