section.section.contacts.top-offset
  .site-container
    .contacts__heading-row
      h1.contacts__heading
        | Наши офисы
      .contacts__btns
        button.contacts__btn.contacts__btn--outline.button.button--secondary
          span Карта
        button.contacts__btn.button.contacts__btn--outline.contacts__btn--menu
          span
            +icon-mono("menu")(width="20" height="20" class="contacts__btn-icon")
            | Список
      .contacts__city(data-text="Ваш город")
        | РОССИЯ, НАБЕРЕЖНЫЕ ЧЕЛНЫ

    .contacts__content
      .contacts__content-item
        .contacts__map(data-icon="assets/images/pin.png")
      .contacts__content-item.is-active
        .contacts__table
          .contacts__table-row.contacts__table-row-head
            .contacts__table-cell
              | Набережные Челны
            .contacts__table-cell
              | Отдел продаж:
            .contacts__table-cell
              | Сервис и инжиниринг:
          .contacts__table-row
            .contacts__table-cell(data-mobile-heaidng="Набережные Челны")
              p
                | Адрес
              p
                | Ул. им. Хади Такташа, д.34А (строение 2), этаж 1,2.

              button.contacts__table-btn(data-adres="Ул. им. Хади Такташа, д.34А (строение 2), этаж 1,2." data-coords="55.741272, 52.403662")
                | Показать на карте

            .contacts__table-cell(data-mobile-heaidng="Отдел продаж:")
              p
                | Телефон
              p
                a(href="tel:+8 (800)707-57-05") 8 (800)707-57-05

              p
                | Почта
              p
                a(href="mailto:order@compeq.ru") order@compeq.ru

            .contacts__table-cell(data-mobile-heaidng="Сервис и инжиниринг:")
              p
                | Телефон
              p
                a(href="tel:+8 (800)707-57-05") 8 (800)707-57-05

        .contacts__table
          .contacts__table-row.contacts__table-row-head
            .contacts__table-cell(data-mobile-heaidng="Ульяновск")
              | Ульяновск
            .contacts__table-cell(data-mobile-heaidng="Гисматуллов Фанис")
              | Гисматуллов Фанис
            .contacts__table-cell(data-mobile-heaidng="Заголовок")
          .contacts__table-row
            .contacts__table-cell(data-mobile-heaidng="Ульяновск")
              button.contacts__table-btn(data-adres="Ул. им. Хади Такташа, д.34А (строение 2), этаж 1,2." data-coords="54.314192, 48.403132")
                | Показать на карте

            .contacts__table-cell(data-mobile-heaidng="Гисматуллов Фанис")
              p
                | Руководитель отдела продаж
              p
                a(href="tel:+8 (800)707-57-05") 8 (800)707-57-05

              p
                | Почта
              p
                a(href="mailto:mechanics.order@compeq.ru") mechanics.order@compeq.ru

            .contacts__table-cell(data-mobile-heaidng="Заголовок")

        .contacts__table
          .contacts__table-row.contacts__table-row-head
            .contacts__table-cell(data-mobile-heaidng="Заголовок")
              | Казань
            .contacts__table-cell(data-mobile-heaidng="Заголовок")
              | Галимов Асхат
            .contacts__table-cell(data-mobile-heaidng="Заголовок")
          .contacts__table-row
            .contacts__table-cell(data-mobile-heaidng="Казань")
              button.contacts__table-btn(data-adres="Ул. им. Хади Такташа, д.34А (строение 2), этаж 1,2." data-coords="55.796127, 49.106414")
                | Показать на карте

            .contacts__table-cell(data-mobile-heaidng="Галимов Асхат")
              p
                | Руководитель отдела пароконденсатных систем
              p
                a(href="tel:+8 (927) 034-56-54") 8 (927) 034-56-54

              p
                | Почта
              p
                a(href="mailto:askhat.galimov@compeq.ru") askhat.galimov@compeq.ru

            .contacts__table-cell(data-mobile-heaidng="Заголовок")

        .contacts__table
          .contacts__table-row.contacts__table-row-head
            .contacts__table-cell(data-mobile-heaidng="Заголовок")
              | Новосибирск
            .contacts__table-cell(data-mobile-heaidng="Заголовок")
              | Михаил Левен
            .contacts__table-cell(data-mobile-heaidng="Заголовок")
          .contacts__table-row
            .contacts__table-cell(data-mobile-heaidng="Новосибирск")
              button.contacts__table-btn(data-adres="Ул. им. Хади Такташа, д.34А (строение 2), этаж 1,2." data-coords="55.030204, 82.920430")
                | Показать на карте

            .contacts__table-cell(data-mobile-heaidng="Михаил Левен")
              p
                | Руководитель отдела пароконденсатных систем
              p
                a(href="tel:+8 (927) 493-83-27") 8 (927) 493-83-27

              p
                | Почта
              p
                a(href="mailto:mikhail.leven@compeq.ru") mikhail.leven@compeq.ru

            .contacts__table-cell(data-mobile-heaidng="Заголовок")

        .contacts__table
          .contacts__table-row.contacts__table-row-head
            .contacts__table-cell(data-mobile-heaidng="Заголовок")
              | Екатеринбург
            .contacts__table-cell(data-mobile-heaidng="Заголовок")
              | Кумбралев Александр
            .contacts__table-cell(data-mobile-heaidng="Заголовок")
          .contacts__table-row
            .contacts__table-cell(data-mobile-heaidng="Екатеринбург")
              button.contacts__table-btn(data-adres="Ул. им. Хади Такташа, д.34А (строение 2), этаж 1,2." data-coords="56.838011, 60.597474")
                | Показать на карте

            .contacts__table-cell(data-mobile-heaidng="Кумбралев Александр")
              p
                | Руководитель отдела пароконденсатных систем
              p
                a(href="tel:+8 (927) 044-40-59") 8 (927) 044-40-59

              p
                | Почта
              p
                a(href="mailto:alexander.kumbralev@compeq.ru") alexander.kumbralev@compeq.ru

            .contacts__table-cell


script(src="https://api-maps.yandex.ru/2.1/?apikey=b0b15954-57af-4901-b78c-0ad5bd94cda8&lang=ru_RU")
