section.section.intro(style={"background-image": "url(assets/images/intro-block/img.jpg)"})
  .top-offset
  .site-container
    h1.visually-hidden Комплексное оснащение
    .intro__inner
      .intro__legend(data-legend="говорим") Оснащение
      .intro__legend(data-legend="подразумеваем") Комплексное
      .intro__content
        p.intro__text
          | Поставка оригинального оборудования, запасных частей и реинжиниринг для различных отраслей промышленности с последующим сервисным обслуживанием
        .intro__links
          a(href="mailto:order@compeq.ru") order@compeq.ru
          a(href="tel:+78007075705") 8 800 707-57-05
          a(href="/" class="intro__link-sbis")
            | Проверка на СБИС
            +icon-mono("link")(width="24" height="24")


