section.section
  .site-container
    .projects
      .projects__heading-wrapper
        h2.site-second-heading Реализованные проекты
        a(href="/" class="site-more-link") #[span Посмотреть все проекты]
      ul.projects__list.grid-container
        li.projects__item
          article.project-card
            .project-card__img-wrapper
              img(src="assets/images/project-card/img1.jpg" alt="" class="project-card__img")
            h3.project-card__heading
              a(href="/")
                | Проект реконструкции линий ООО «Агросила-Молоко»
            .project-card__txt
              p
                | Проект реконструкции линий, подбор и комплектация технологического оборудования. Цель реконструкции — приведение работы оборудования в соответствии с техническим регламентом и исключение гидроударов и влаги основных магистральных паропроводов.
        li.projects__item
          article.project-card
            .project-card__img-wrapper
              img(src="assets/images/project-card/img2.jpg" alt="" class="project-card__img")
            h3.project-card__heading
              a(href="/")
                | Подбор промышленного мотор-редуктора Yilmaz для АО «Набережночелнинский Элеватор»
            .project-card__txt
              p
                | Подбор промышленного мотор-редуктора Yilmaz для АО «Набережночелнинский Элеватор».

        li.projects__item
          article.project-card
            .project-card__img-wrapper
              img(src="assets/images/project-card/img3.jpg" alt="" class="project-card__img")
            h3.project-card__heading
              a(href="/")
                | Проект реконструкции цеха сыров ООО «Азбука Сыра»
            .project-card__txt
              p
                | Проект реконструкции цеха сыров: спроектирована система распределения пара и сбора конденсата с учётом технологических параметров оборудования. Исключены гидроудары и проблемы недогрева, связанные с недостатком пара.
