section.section
  h2.visually-hidden Цитата Генерального Директора
  .site-container
    .quote
      .avatar.quote__avatar
        img(src="assets/images/avatar/logo.jpg" alt="Фотография генерального директора компании Айрата Фардеева")
        .avatar__heading Айрат Фардеев
        .avatar__text Генеральный директор
      .quote__text
        p
          | Мы осуществляем поставки и сервис промышленных комплектующих/оборудования с 2014 года.
        p
          | Наша компания за все эти годы из простой торгующей организации переросла в предприятие с полным циклом оказания услуг и укрепила нас в глазах наших клиентов, став для них надёжным партнёром.
        p
          | Говоря Комплексное оснащение, в первую очередь я подразумеваю комплексные решения для наших партнёров. А это, помимо стабильного канала поставок, реализация нестандартных проектных решений с сопровождением качественного сервиса и инжиниринга, предлагаемые нашей компанией.
