section.section
  h2.visually-hidden Наши услуги
  .site-container
    ul.services__list.grid-container
      li.services__item
        article.service-card
          .service-card__img-wrapper
            img(src="assets/images/service-card/img1.jpg" alt="")
            h3.service-card__heading Поставка
          .service-card__body
            ul
              li Поставка оборудования и запасных частей для промышленных предприятий;
              li Подбор качественных аналогов;
              li Техническое сопровождение на весь срок эксплуатации оборудования.

            a.button.button--small.service-card__btn(href="/") Подробнее

      li.services__item
        article.service-card
          .service-card__img-wrapper
            img(src="assets/images/service-card/img3.jpg" alt="")
            h3.service-card__heading Инжиниринг и сервис
          .service-card__body
            ul
              li Ремонт оборудования;
              li Разработка инженерной документации;
              li Монтаж и пусконаладка;
              li 3D-моделирование.

            a.button.button--small.service-card__btn(href="/") Подробнее

      li.services__item
        article.service-card
          .service-card__img-wrapper
            img(src="assets/images/service-card/img2.jpg" alt="")
            h3.service-card__heading Проектные решения
          .service-card__body
            ul
              li Пароконденсатные системы;
              li Оборудование для птицефабрик;
              li Индустриальные редукторы и электродвигатели;
              li Нестандартные задачи.

            a.button.button--small.service-card__btn(href="/") Подробнее
