section.section
  .site-container
    .feedback
      .feedback__block
        h2.feedback__heading.site-second-heading
          | Оставьте заявку, будьте&nbsp;на шаг впереди
        p.feedback__text
          | На все обращения оперативно реагируют квалифицированные специалисты
      .feedback__block
        include form.pug
