-
  nav = [
    { name: "Инжиниринг и сервис", link: "./service.html" },
    { name: "Проектные решения", link: "./" },
    { name: "Поставка", link: "./" },
    { name: "О нас", link: "./" },
    { name: "Контакты", link: "./" }
  ]

  classWhite = [
    "main"
  ]

header.header(class={"header--white": classWhite.includes(name)})
  .site-container
    a.header__logo(href="/")
      img(src="assets/images/logo-white.svg" alt="Логотип компании")
    a.header__logo.header__logo--secondary(href="/")
      img(src="assets/images/logo.svg" alt="Логотип компании")

    .header__nav-wrapper
      button.header__mobile-menu
        | Меню
      nav.nav.header__nav
        ul.nav__list
          for item in nav
            li.nav__item
              a(href=item.link class="nav__link")= item.name

      .header__catalog-btn
        +icon-mono("menu-square")(width="24" height="24" class="header__catalog-btn-icon")
        a(href="/") Каталог

    button.button.button--accent.header__btn Оставить заявку
