.nav-card {
  width: 100%;
  height: 100%;
  padding: var(--offset60);
  background-color: var(--color-white);
  border-radius: var(--offset20);
  box-shadow: var(--box-shadow);

  @include mq(lg) {
    padding: var(--offset40);
  }

  @include mq(sm) {
    padding: var(--offset40) var(--offset20);
    border-radius: var(--offset12);
  }

  &__icon {
    position: relative;
    width: 8rem;
    height: 8rem;
    margin-bottom: var(--offset40);

    @include mq(lg) {
      margin-bottom: var(--offset32);
    }

    @include mq(sm) {
      margin-bottom: var(--offset24);
    }

    &.icon-one {
      --icon-width: 4.6rem;

      .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: var(--icon-width);
        height: var(--icon-width);
        transform: translate(-50%, -50%);
      }

      .half-circle {
        position: absolute;
        top: 50%;
        width: var(--icon-width);
        height: var(--icon-width);
        transform: translateY(-50%);
        transition: all var(--transition);
      }

      .half-circle1 {
        left: -1rem;
        transform: translateY(-50%) scale(-1, 1);
      }

      .half-circle2 {
        right: -1rem;
        transform: translateY(-50%) scale(1, -1);
      }
    }

    &.icon-two {
      --icon-width: 6.2rem;

      .block {
        position: absolute;
        bottom: 1.2rem;
        left: 50%;
        width: var(--icon-width);
        transform: translateX(-50%);
        transition: all var(--transition);
      }

      .half-circle {
        position: absolute;
        top: 1.2rem;
        left: 50%;
        width: var(--icon-width);
        transform: translateX(-50%);
        transition: all var(--transition);
      }
    }

    &.icon-three {
      .circle {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 1;
        width: 4rem;
        height: 4rem;
        transform: translateX(-50%);
        transition: all var(--transition);
      }

      .triangle {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        width: 5rem;
        height: 5rem;
        transform: translateX(-50%);
        transition: all var(--transition);
      }
    }
  }

  &--icon-one {
    &:hover {
      .half-circle1 {
        left: 0.6rem;
        transform: translateY(-50%) scale(-1, 1) rotate(180deg);
      }

      .half-circle2 {
        right: 0.6rem;
        transform: translateY(-50%) scale(1, -1) rotate(180deg);
      }
    }
  }

  &--icon-two {
    &:hover {
      .block {
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .half-circle {
        top: 50%;
        bottom: auto;
        transform: translate(-50%, -50%);
      }
    }
  }

  &--icon-three {
    &:hover {
      .circle {
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .triangle {
        top: 50%;
        bottom: auto;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__heading {
    margin-bottom: var(--offset32);
    font: var(--font-h3);

    @include mq(sm) {
      margin-bottom: var(--offset16);
    }
  }

  &__link-item {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: var(--offset16);

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      color: var(--color-hover-accent);
    }
  }

  &__link {
    font: var(--font-text-20-md);

    &::before {
      position: absolute;
      top: 0;
      inset: 0;
      content: "";
    }

    &-icon {
      width: 2.4rem;
      height: 2.4rem;
      margin-top: 0.4rem;
      margin-left: 1rem;
      transition: color var(--transition);
      fill: none;
      stroke: currentcolor;
      stroke-width: 2px;

      @include mq(sm) {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }
}

.nav-cards {
  &__item {
    grid-column: 4 span;

    @include mq(xl) {
      grid-column: 6 span;
    }

    @include mq(lg) {
      grid-column: 4 span;
    }

    @include mq(md) {
      grid-column: 8 span;
    }
  }
}
